*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: peachpuff; */
}
 
.hover-img:hover {
    transform: scale(1.05);
}

.nav-link.active:hover {
    text-decoration: underline;
}

.add-to-cart-btn:hover {
    background-color: rgb(180, 70, 70);
}

.f1, .f2, .f4 {
    color: white;
    margin-bottom: 1rem;
}

.email-input {
    border-radius: 20px;
    width: 200px;
}

@media (max-width: 768px) {
    .f1, .f2, .f4 {
        margin-bottom: 2rem;
    }
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
    
}

.row{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}
